# StreamByte Environment Variables
# Copy this file to .env or .env.local for development

# The URL of the proxy server (Default for Vercel is /api-proxy)
VITE_PROXY_URL=/api-proxy

# Debrid API Keys (Can also be set in-app settings)
VITE_REAL_DEBRID_API_KEY=
VITE_PREMIUMIZE_API_KEY=
VITE_ALLDEBRID_API_KEY=
